.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.625em;
}
.columna.left{
    border-right: 1px solid rgb(34, 151, 34);
}
.columna.right p{
    font-size: 0.9em;
}
.columna.right ul li {
    font-size: 0.8em;
}
.formulario label{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.formulario input,
.formulario textarea{
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 0.8em;
    padding: 0.4em 0.6em;
    width: 60%;
}
.formulario textarea{
    resize: nome;
    height: 10em;
}
.formulario input[type = "submit"]{
    background: #9da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    padding: 0.4em 0.2em;
    text-align: center;
    width: auto;
}