.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}
.servicio servicio{
    width: 75%;
}

.servicio  h4{
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;    
}
.servicio  p{
    font-size: 0.8em;
    line-height: 1.2em;
}
.servicio img{    
    border-radius: 0.8em;
    max-width: 20%
}
.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}
.servicio:nth-last-child(even) .servicio{
    float: left;
}
.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}
.servicio:nth-last-child(odd) .servicio{
    float: right;
}