header {
    background-color:rgb(17, 190, 17);
    padding: 1em 0;
}
 header h1{
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 0.8em;
    margin: 0;
}